<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
  <link rel="stylesheet" type="text/css" href="../resource/css/proto1_reset.css">
  <link rel="stylesheet" type="text/css" href="../resource/css/proto1_select_map.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="../resource/js/proto1_slide.js"></script>
</head>
<body>
<div id="page1">
  <ul class="list_boss">
    <li class="pos_type1">
      <a href="#" class="link_boss">
        <span class="inner_frame">
          <img class="img_boss" src="https://dummyimage.com/300x80/efefef/000">
          <span class="frame_shade"></span>
          <span class="boss_name">Gargoyle</span>
          <span class="mode_info">
            <span class="txt_mode">EASY MODE</span>
            <span class="txt_curr">8<span class="txt_total"> / 12</span></span>
          </span>
        </span>
      </a>
    </li>
    <li class="pos_type2">
      <a href="#" class="link_boss">
        <span class="inner_frame">
          <img class="img_boss" src="https://dummyimage.com/300x80/efefef/000">
          <span class="frame_shade"></span>
          <span class="boss_name">Gargoyle</span>
          <span class="mode_info">
            <span class="txt_mode">EASY MODE</span>
            <span class="txt_curr">8<span class="txt_total"> / 12</span></span>
          </span>
        </span>
      </a>
    </li>
    <li class="pos_type3">
      <a href="#" class="link_boss">
        <span class="inner_frame">
          <img class="img_boss" src="https://dummyimage.com/300x80/efefef/000">
          <span class="frame_shade"></span>
          <span class="boss_name">Gargoyle</span>
          <span class="mode_info">
            <span class="txt_mode">EASY MODE</span>
            <span class="txt_curr">8<span class="txt_total"> / 12</span></span>
          </span>
        </span>
      </a>
    </li>
    <li class="pos_type4">
      <a href="#" class="link_boss">
        <span class="inner_frame">
          <img class="img_boss" src="https://dummyimage.com/300x80/efefef/000">
          <span class="frame_shade"></span>
          <span class="boss_name">Gargoyle</span>
          <span class="mode_info">
            <span class="txt_mode">EASY MODE</span>
            <span class="txt_curr">8<span class="txt_total"> / 12</span></span>
          </span>
        </span>
      </a>
    </li>
    <li class="pos_type5">
      <a href="#" class="link_boss">
        <span class="inner_frame">
          <img class="img_boss" src="https://dummyimage.com/300x80/efefef/000">
          <span class="frame_shade"></span>
          <span class="boss_name">Gargoyle</span>
          <span class="mode_info">
            <span class="txt_mode">EASY MODE</span>
            <span class="txt_curr">8<span class="txt_total"> / 12</span></span>
          </span>
        </span>
      </a>
    </li>
    <li>
      <a href="#" class="link_boss">
        <span class="inner_frame">
          <img class="img_boss" src="https://dummyimage.com/300x80/efefef/000">
          <span class="frame_shade"></span>
          <span class="boss_name">Gargoyle</span>
          <span class="mode_info">
            <span class="txt_mode">EASY MODE</span>
            <span class="txt_curr">8<span class="txt_total"> / 12</span></span>
          </span>
        </span>
      </a>
    </li>
    <li>
      <a href="#" class="link_boss">
        <span class="inner_frame">
          <img class="img_boss" src="https://dummyimage.com/300x80/efefef/000">
          <span class="frame_shade"></span>
          <span class="boss_name">Gargoyle</span>
          <span class="mode_info">
            <span class="txt_mode">EASY MODE</span>
            <span class="txt_curr">8<span class="txt_total"> / 12</span></span>
          </span>
        </span>
      </a>
    </li>
    <li>
      <a href="#" class="link_boss">
        <span class="inner_frame">
          <img class="img_boss" src="https://dummyimage.com/300x80/efefef/000">
          <span class="frame_shade"></span>
          <span class="boss_name">Gargoyle</span>
          <span class="mode_info">
            <span class="txt_mode">EASY MODE</span>
            <span class="txt_curr">8<span class="txt_total"> / 12</span></span>
          </span>
        </span>
      </a>
    </li>
    <li>
      <a href="#" class="link_boss">
        <span class="inner_frame">
          <img class="img_boss" src="https://dummyimage.com/300x80/efefef/000">
          <span class="frame_shade"></span>
          <span class="boss_name">Gargoyle</span>
          <span class="mode_info">
            <span class="txt_mode">EASY MODE</span>
            <span class="txt_curr">8<span class="txt_total"> / 12</span></span>
          </span>
        </span>
      </a>
    </li>
    <li>
      <a href="#" class="link_boss">
        <span class="inner_frame">
          <img class="img_boss" src="https://dummyimage.com/300x80/efefef/000">
          <span class="frame_shade"></span>
          <span class="boss_name">Gargoyle</span>
          <span class="mode_info">
            <span class="txt_mode">EASY MODE</span>
            <span class="txt_curr">8<span class="txt_total"> / 12</span></span>
          </span>
        </span>
      </a>
    </li>
    <li>
      <a href="#" class="link_boss">
        <span class="inner_frame">
          <img class="img_boss" src="https://dummyimage.com/300x80/efefef/000">
          <span class="frame_shade"></span>
          <span class="boss_name">Gargoyle</span>
          <span class="mode_info">
            <span class="txt_mode">EASY MODE</span>
            <span class="txt_curr">8<span class="txt_total"> / 12</span></span>
          </span>
        </span>
      </a>
    </li>
  </ul>
</div>
<script>
  (function () {

    var $ctx = $('#page1');
    var $maps = $ctx.find('.list_boss');
    var $bossList = $maps.children();
    var startY = 0;
    var currIdx = 0;
    var opts = {
      ctx:'#page1',
      list:$bossList,
      cnt:5
    };
    var test = Pager(opts);

    $maps.on('touchstart', function (e) {
      startY = e.touches[0].clientY;
    });

    $maps.on('touchend', function (e) {
      var endY = e.changedTouches[0].clientY;
      if(startY < endY){
        console.log('down');
        test.getNextIdx();
        test.displayItemList();
      }else if(startY === endY){

      }else{
        console.log('up');
        test.getPrevIdx();
        test.displayItemList();
      }
    });

    test.init();




  })();
</script>
</body>
</html>