<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Modal</title>
  <style>
    #context{overflow:hidden;width:600px;height:900px;margin:0 auto;padding:10px 10px;background-color:#efefef}
    #btn1{width:100%;height:20px;margin:0 auto;font-weight:bold;color: #ef3d45}
    #btn2{width:100%;height:20px;margin:0 auto;font-weight:bold;color: #00b537 }
    #btn3{width:100%;height:20px;margin:0 auto;font-weight:bold;color: #3b5def }
  </style>
</head>
<body>
<div id="context">
  <div>
    <p>MBC 전 직원을 대상으로 한 설문조사에서 응답자 중 약 95%가 김장겸 사장과 고영주 방송문화진흥회 이사장이 사퇴해야 한다는 의견을 밝혔다.</p>
    <p>전국언론노동조합 MBC본부와 43개 사내 직능단체들이 지난달 26일부터 30일까지 본사와 16개 지역사 전체 직원(임원 제외, 보직자·계약직 포함) 3092명을 대상으로 경영진 거취에 대해 설문조사를 실시했다. 설문 응답 인원은 2093명(응답률 67.7%)이었다.</p>
    <p>‘김장겸 사장이 사퇴해야 한다고 생각하느냐’는 질문에 응답자 중 95.4%(1996명)가 그렇다고 답했고, 4.6%(97명)만이 아니라고 답했다. 김장겸 사퇴의 이유(2개까지 응답가능)에 대해서는 ‘뉴스·시사 등 방송의 독립과 공정성 훼손’을 꼽은 응답자가 87%(1737명)로 가장 많았고, ‘부당전보· 부당징계 등 노동법위반’을 꼽은 응답자가 34.5%(689명)로 뒤를 이었다.</p>
    <button id="btn1">AD1 Click</button>
    <p>MBC 전 직원을 대상으로 한 설문조사에서 응답자 중 약 95%가 김장겸 사장과 고영주 방송문화진흥회 이사장이 사퇴해야 한다는 의견을 밝혔다.</p>
    <p>전국언론노동조합 MBC본부와 43개 사내 직능단체들이 지난달 26일부터 30일까지 본사와 16개 지역사 전체 직원(임원 제외, 보직자·계약직 포함) 3092명을 대상으로 경영진 거취에 대해 설문조사를 실시했다. 설문 응답 인원은 2093명(응답률 67.7%)이었다.</p>
    <p>‘김장겸 사장이 사퇴해야 한다고 생각하느냐’는 질문에 응답자 중 95.4%(1996명)가 그렇다고 답했고, 4.6%(97명)만이 아니라고 답했다. 김장겸 사퇴의 이유(2개까지 응답가능)에 대해서는 ‘뉴스·시사 등 방송의 독립과 공정성 훼손’을 꼽은 응답자가 87%(1737명)로 가장 많았고, ‘부당전보· 부당징계 등 노동법위반’을 꼽은 응답자가 34.5%(689명)로 뒤를 이었다.</p>
    <button id="btn2">AD2 Click</button>
    <p>MBC 전 직원을 대상으로 한 설문조사에서 응답자 중 약 95%가 김장겸 사장과 고영주 방송문화진흥회 이사장이 사퇴해야 한다는 의견을 밝혔다.</p>
    <p>전국언론노동조합 MBC본부와 43개 사내 직능단체들이 지난달 26일부터 30일까지 본사와 16개 지역사 전체 직원(임원 제외, 보직자·계약직 포함) 3092명을 대상으로 경영진 거취에 대해 설문조사를 실시했다. 설문 응답 인원은 2093명(응답률 67.7%)이었다.</p>
    <p>‘김장겸 사장이 사퇴해야 한다고 생각하느냐’는 질문에 응답자 중 95.4%(1996명)가 그렇다고 답했고, 4.6%(97명)만이 아니라고 답했다. 김장겸 사퇴의 이유(2개까지 응답가능)에 대해서는 ‘뉴스·시사 등 방송의 독립과 공정성 훼손’을 꼽은 응답자가 87%(1737명)로 가장 많았고, ‘부당전보· 부당징계 등 노동법위반’을 꼽은 응답자가 34.5%(689명)로 뒤를 이었다.</p>
    <button id="btn3">AD3 Click</button>
    <p>MBC 전 직원을 대상으로 한 설문조사에서 응답자 중 약 95%가 김장겸 사장과 고영주 방송문화진흥회 이사장이 사퇴해야 한다는 의견을 밝혔다.</p>
    <p>전국언론노동조합 MBC본부와 43개 사내 직능단체들이 지난달 26일부터 30일까지 본사와 16개 지역사 전체 직원(임원 제외, 보직자·계약직 포함) 3092명을 대상으로 경영진 거취에 대해 설문조사를 실시했다. 설문 응답 인원은 2093명(응답률 67.7%)이었다.</p>
    <p>‘김장겸 사장이 사퇴해야 한다고 생각하느냐’는 질문에 응답자 중 95.4%(1996명)가 그렇다고 답했고, 4.6%(97명)만이 아니라고 답했다. 김장겸 사퇴의 이유(2개까지 응답가능)에 대해서는 ‘뉴스·시사 등 방송의 독립과 공정성 훼손’을 꼽은 응답자가 87%(1737명)로 가장 많았고, ‘부당전보· 부당징계 등 노동법위반’을 꼽은 응답자가 34.5%(689명)로 뒤를 이었다.</p>
  </div>
</div>
<script>
  function Modal(ctx, id) {
    this.ctx = ctx;
    this.id = id;
    this.html = '';
    this.modal = document.createElement('div');
    this.shade = document.createElement('div');
  }
  Modal.prototype = {
    _setShadowStyle: function () {
      var _shadeStyle = this.shade.style;
      _shadeStyle.position = 'fixed';
      _shadeStyle.left = 0;
      _shadeStyle.top = 0;
      _shadeStyle.width = '100%';
      _shadeStyle.height = '100%';
      _shadeStyle.backgroundColor = 'rgba(0,0,0,0.3)';
    },
    _setModalStyle: function (width, height) {
      var _modal = this.modal.style;
      _modal.position = 'fixed';
      _modal.left = '50%';
      _modal.top = '50%';
      _modal.width = width + 'px';
      _modal.height = height + 'px';
      _modal.margin = '-' + parseInt(height / 2) + 'px 0 0 -' + parseInt(width / 2) + 'px';
      _modal.backgroundColor = '#fff';
      _modal.textAlign = 'center';
      _modal.borderRadius = '20px';
    },
    setHtml: function (html) {
      this.html = html;
    },
    draw: function () {
      this._setShadowStyle();
      this._setModalStyle(300,300);
      this.shade.setAttribute('id', this.id + 'Shade');
      this.modal.setAttribute('id', this.id);
      this.ctx.appendChild(this.shade);
      document.getElementById(this.id + 'Shade').appendChild(this.modal);
      document.getElementById(this.id).innerHTML = this.html;
    },
    hide: function () {
      var _modal = document.getElementById(this.id + 'Shade');
      if (_modal) {
        _modal.style.display = 'none';
      }
    },
    show: function () {
      var _modal = document.getElementById(this.id + 'Shade');
      if (_modal) {
        _modal.style.display = 'block';
      }
    },
    remove: function () {
      var _modal = document.getElementById(this.id + 'Shade');
      if (_modal) {
        this.ctx.removeChild(_modal);
      }
    }
  };
  var myModal1 = new Modal(document.getElementById('context'), 'modal1');
  var myModal2 = new Modal(document.getElementById('context'), 'modal2');
  var myModal3 = new Modal(document.getElementById('context'), 'modal3');
  var head = '<div class="modal_tit"><h2>my first modal example</h2></div><div class="modal_cont">';
  var contents = '<p>contents are here!</p>';
  var foot = '</div></div>';
  function makeContents(contents) {
    var component = [];
    for(var i =0; i<5; i++){
      component.push(contents);
    }
    return component.join('');
  }
  document.getElementById('btn1').addEventListener('click', function () {
    var identity = '<h3>modal1</h3>';
    var html = head +identity+ makeContents(contents) + foot;
    myModal1.setHtml(html);
    myModal1.draw();
    document.getElementById('modal1Shade').addEventListener('click', function () {
      myModal1.remove();
    });
  });
  document.getElementById('btn2').addEventListener('click', function () {
    var identity = '<h3>modal2</h3>';
    var html = head +identity+ makeContents(contents) + foot;
    myModal2.setHtml(html);
    myModal2.draw();
    document.getElementById('modal2Shade').addEventListener('click', function () {
      myModal2.remove();
    });
  });
  document.getElementById('btn3').addEventListener('click', function () {
    var identity = '<h3>modal3</h3>';
    var html = head +identity+ makeContents(contents) + foot;
    myModal3.setHtml(html);
    myModal3.draw();
    document.getElementById('modal3Shade').addEventListener('click', function () {
      myModal3.remove();
    });
  });
</script>
</body>
</html>